xml/kanji-list.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://doppera.at/kanji-list.xsd"
    elementFormDefault="qualified"
    xmlns="http://doppera.at/kanji-list.xsd"
    xmlns:mstns="http://doppera.at/kanji-list.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="kanji-list">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="kanji" type="kanjiType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="kanjiType">
        <xs:sequence>
            <xs:element name="character" type="xs:string"/>
            <xs:element name="meaning" type="xs:string"/>
            <xs:element name="kunyomi" type="xs:string"/>
            <xs:element name="onyomi" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>